body{
    background-color: white;
}
/* flex box layout for navbar?
two columns for project types? probably a table */
.nav-bar { /*could probably do without some info in here since it gets repeated later, will look again*/
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #7182A2;
    padding: 20px;
    margin: 0px;
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}


.nav-bar a {
    text-align: center;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    margin-right: 5px;
    text-decoration: none;
}
.nav-bar a:hover { /*gotsta have the fancy hover effect. can i make a dropdown?*/
    background-color: #F0F2F6;
    border-radius: 5px;
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10px;
    letter-spacing: .2rem;
}

hr { /*line that goes across the top - makes everything look a little more styled*/
    border: 1px straight black;
    margin-left: 10px;
    margin-right: 10px;
}

.container { /*used to align info img and p*/
    display: flex;
    align-items: left;
    justify-content: center;
}

#headshot {
    border-radius: 50%;
    float: left;
    padding: 15px;
}

/* .intro { <--this is defunct now
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 20px;
} */

#intro-text {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
}

.certs { /*used a table, got it styled well i think*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-collapse: collapse;
}

.certs th, td { /*styling the cells */
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px ridge #7182A2;
}
.certs th{ /*set spacing between letters*/
    letter-spacing: .1rem;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: .1rem;
    margin-left: 10px;
}

.list { 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    color:black;
    list-style-type: none;
    margin-bottom: 50px;
    font-weight: 500;
}

.list a {
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 25%;
}

.list a:hover { /*set the hover like in the navbar - consistency is key mah dude*/
    text-decoration: none;
    background-color: #F0F2F6;
    padding: 5px;
    border-radius: 5px;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
}

.main-image { /*classes for resuability bro*/
    margin-left: 10px;
    margin-right: 20px;
    float: left;
}

.paragraph { /*down with redundancy!*/
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
}

.project-info { /*do the graders read these? geez I hope not*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-collapse: collapse;
    margin-top: 35px;
    margin-bottom: 35px;
}

.project-info th, td{
    border-style: none;
    line-height: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
}
input {
    width: 25%;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
}

input:focus {
    background-color: #F0F2F6;
    outline:none;
    border: 3px solid #7182A2;
    border-radius: 5px;
    
}

input[type=submit]{
    display: block;
    width: 15%;
    background-color: #F0F2F6;
    margin-left: 10px;
}

